name: Merge to Main Workflow - Frontend

on:
  push:
    branches:
      - main
      - dev/apiTest
    # paths:
    #   - "frontend/**"
    #   - ".github/workflows/push-main-frontend.yml"
  workflow_dispatch:
  workflow_run:
    workflows: ["Automated API tests using Postman CLI"]
    types: 
      - completed
      
jobs:
  check-api-test:
    name: Just a Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Check API Test Result
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        run: echo "API tests passed, proceeding with frontend workflow."
      - name: Fail if API Tests Failed
        if: ${{ github.event.workflow_run.conclusion != 'success' }}
        run: |
          echo "API tests failed, stopping the frontend workflow."
          exit 1


  build-frontend-image:
    name: CI Docker Build and Push Frontend Docker Image
    needs: check-api-test
    uses: ./.github/workflows/ci-docker-builder-frontend.yml
    permissions:
      contents: read
      packages: write

  deploy-frontend:
    name: Deploy Frontend Application
    needs: build-frontend-image
    uses: ./.github/workflows/deploy-frontend.yml
    secrets:
      BREZOR_DEPLOY_HOOK: ${{ secrets.BREZOR_DEPLOY_HOOK }}
      REX_RENDER_DEPLOY_HOOK: ${{ secrets.REX_RENDER_DEPLOY_HOOK }}
