name: Merge to Main Workflow - Frontend

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
      - ".github/workflows/push-main-frontend.yml"
  workflow_dispatch:

jobs:
  test:
    name: Just a Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run a Simple Command
        run: echo "This is a test job for push main."

  # ci-docker-template:
  #   name: CI Docker Build and Push Docker Image
  #   needs: test
  #   uses: ./.github/workflows/ci-docker-template.yml
  #   permissions:
  #     contents: read
  #     packages: write

  deploy-frontend:
    name: Deploy Frontend Application
    needs: test
    uses: ./.github/workflows/deploy-frontend.yml
    secrets:
      BREZOR_DEPLOY_HOOK: ${{ secrets.BREZOR_DEPLOY_HOOK }}
