name: Merge to Main Workflow - Backend

on:
  push:
    branches:
      - main
      - dev/api-test
    # paths:
    #   - "backend/**"
    #   - ".github/workflows/push-main-backend.yml"
  workflow_dispatch:

jobs:
  # unit-tests:
  #   name: Run Unit Tests
  #   uses: ./.github/workflows/unit-tests.yml

  # integration-tests:
  #   name: Run Integration Tests
  #   needs: unit-tests
  #   uses: ./.github/workflows/integration-tests.yml

  # build-backend-image:
  #   name: CI Docker Build and Push GraphQL Docker Image
  #   needs: integration-tests
  #   uses: ./.github/workflows/ci-docker-builder-graphql.yml
  #   permissions:
  #     contents: read
  #     packages: write

  # deploy-backend:
  #   name: Deploy Backend Application
  #   needs: build-backend-image
  #   uses: ./.github/workflows/deploy-backend.yml
  #   secrets:
  #     BREZOR_BACKEND_DEPLOY_HOOK: ${{ secrets.BREZOR_BACKEND_DEPLOY_HOOK }}
  #     REX_BACKEND_DEPLOY_HOOK: ${{ secrets.REX_BACKEND_DEPLOY_HOOK }}

  automated-api-tests:
    name: Run Automated API Tests
    # needs: deploy-backend
    uses: ./.github/workflows/api-test.yml
    secrets:
      POSTMAN_API_KEY: ${{ secrets.POSTMAN_API_KEY }}
      client_id: ${{ secrets.CLIENT_ID }}
      client_secret: ${{ secrets.CLIENT_SECRET }}
      audience: ${{ secrets.AUDIENCE }}
      grant_type: ${{ secrets.GRANT_TYPE }}
    with:
      BACKEND_HOST_URL: ${{ vars.BACKEND_HOST_URL }}
      AUTH0_URL: ${{ vars.AUTH0_URL }}

    permissions:
      contents: read
      actions: read
  