name: Merge to Main Workflow - Backend

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"
      - ".github/workflows/push-main-backend.yml"
  workflow_dispatch:

jobs:
  unit-tests:
    name: Run Unit Tests
    uses: ./.github/workflows/unit-tests.yml

  build-backend-image:
    name: CI Docker Build and Push GraphQL Docker Image
    needs: unit-tests
    uses: ./.github/workflows/ci-docker-builder-graphql.yml
    permissions:
      contents: read
      packages: write

  deploy-backend:
    name: Deploy Backend Application
    needs: build-backend-image
    uses: ./.github/workflows/deploy-backend.yml
    secrets:
      BREZOR_BACKEND_DEPLOY_HOOK: ${{ secrets.BREZOR_BACKEND_DEPLOY_HOOK }}
