name: Merge to Main Workflow

on:
  push:
    branches:
      - main
      - dev/GHCR

jobs:
  test:
    name: Just a Test Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run a Simple Command
        run: echo "This is a test job for push main."

  ci-docker-template:
    name: CI Docker Build and Push Docker Image
    needs: test
    uses: ./.github/workflows/ci-docker-builder-frontend.yml
    permissions:
      contents: read
      packages: write

  deploy-frontend:
    name: Deploy Frontend Application
    needs: test
    uses: ./.github/workflows/deploy-frontend.yml
    secrets:
      BREZOR_DEPLOY_HOOK: ${{ secrets.BREZOR_DEPLOY_HOOK }}
      RASHO_RENDER_DEPLOY_HOOK: ${{ secrets.RASHO_RENDER_DEPLOY_HOOK }}
