name: Unit Tests

on:
    workflow_call:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: "9.0.x"

            - name: Build Application # test if its buildable
              run: dotnet build backend

            - name: Run unit tests
              run: dotnet test backend/unit.tests
